body {
  width: 33%;
}
#calc {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(auto, auto);
  margin: 20px 20px;
}

#calc button {
  height: 48px;
  font-size: 24px;
}
button {
  height: 36px;
  font-size: 18px;
}
#res {
  grid-column: 1/ 5;
  border-color: black;
  background-color: lightgray;
  height: 48px;
  font-size: 20px;
  border-style: solid;
}

#btn0 {
  grid-column: 1/2;
  grid-row: 2/2;
  background-color: lightgreen;
  color: brown;
}
#btn1 {
  grid-column: 2/3;
  grid-row: 2/2;
  background-color: lightgreen;
  color: brown;
}
#btnClr {
  grid-column: 3/4;
  grid-row: 2 / 2;
  color: white;
  background-color: darkgreen;
}
#btnEql {
  grid-column: 4/5;
  grid-row: 2/2;
  color: white;
  background-color: darkgreen;
}
#btnSum {
  grid-column: 1/2;
  grid-row: 3/3;
  color: darkred;
  background-color: black;
}
#btnSub {
  grid-column: 2/3;
  grid-row: 3/3;
  color: darkred;
  background-color: black;
}

#btnMul {
  grid-column: 3/4;
  grid-row: 3/3;
  background-color: black;
  color: darkred;
}
#btnDiv {
  grid-column: 4/5;
  grid-row: 3/3;
  color: darkred;
  background-color: black;
}
